*.d
*.ipynb*

# src directory
/src/local_paths.py
/src/process_shai.py
/src/process_*.py

# smlp directory
/src/smlp/subgroups.py

# smlp_py directory
/src/smlp_py/correlations.py
/src/smlp_py/range_plots_template.html
/src/smlp_py/range_plots.py
/src/smlp_py/range_plots.py_save

/regr_smlp/code/Test*.*
/regr_smlp/code/test*.*
/regr_smlp/code/__pycache__/
/regr_smlp/code/all_log.txt
/regr_smlp/code/logs.log

# ignore files for tests 130,131 as the data set is too big for the repository
/regr_smlp/data/smlp_s2_tx.csv
/regr_smlp/master/Test130_*.*
/regr_smlp/master/Test131_*.*
